/* @override http://iatiaggregator.practicalparticipation.co.uk/explorer/style.css */

/*

body { text-align: center; font-family:sans-serif; }

.page { margin-left:auto; margin-right:auto; width:900px; }

.name { background:lightGrey; width:100%; margin:0px; } 

span.name { display:block; font-size:14pt; }

.break { margin-top:10px; margin-bottom:10px; }

.exhibit-thumbnailView-itemContainer { width:100%; }

.lens-inner div { padding:0px 5px 0px 5px; }

.field-title { font-weight:bold; } 

.description { font-style: italic; } 

h2 { font-size:12pt; } 

.iati-image { float:right; }

.iati-linkages, .iati-further { border:10px solid white; background: lightGrey; font-size:80%; margin-right:160px; }

.iati-links { text-align:right; }

div.exhibit-thumbnailView-group h1 { display: none; }

span.name { display:block; background-color: lightGrey; font-size:large; }

.intro { text-align:left; border:1px dashed grey; padding:10px; } 

#exhibit-color-legend { display:none; }

.intro-text { background-color:rgba(255,255,255,0.85); margin:2px; padding:2px; }

.intro-image { border:1px solid black; margin:10px; float:left; font-weight:bold; }

hr { border:1px dashed grey; }

*/

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	min-width: 960px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	background: #fff;
	margin:0 auto;
}

body.results {
	background: #fff;
}

abbr {
	cursor: help;
	border: none;
}

html {
	 background:url(./img/hdbg.jpg) repeat-x;
}

a.exhibit-action {
	color: #664e1a;
}

.exhibit  {
	text-align: left;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}
.exhibit-table {
	text-align: left;
	width: 99%;
	margin-right: auto;
	margin-left: auto;
}
#nav{margin:0px;padding:0px;}
#header{height:70px;width:960px;border-bottom:1px solid #cecece;position:relative;margin:0 auto;}
#logo{width:200px;height:59px;position:absolute;top:7px;left:25px;background:url(./img/logo.gif) no-repeat top left;}
#currently{float: right;position:relative;height:67px;top:0px;margin-top:0px;width:645px;text-align:left;border-left:1px solid #cecece;padding:0px 0px 0px 0px;background:url(./img/hdbg.jpg);font-size:1.1em}
#nav, #options {
	font-size: 14px;
}
#header div.description{
		background:#2e3234;
		min-width:250px;
		position:absolute;
		right:25px;
		top:25px;
		color:#fff;
		height:30px;
		line-height:30px;
		padding:5px;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;	
	}
#subheader{margin:0 auto;border-bottom:1px solid #cecece;margin-bottom:25px;height:20px;width:960px;}
#subheader{padding:10px;}
#subheader #nav{text-align:center;}
#subheader #options{width:300px;float:left;}
#nav h1 a {
	color:#00734a;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
	font-size: 24px;
}

#nav h1 a:hover {
	color:#00734a;
		font-weight:normal;
		border-bottom:1px solid #cecece;
}

#nav h2 {
	float: right;
}

#nav h2 a {
	display: block;
	background: transparent url(img/aidinfo.png) 0 0 no-repeat;
	width: 137px;
	height: 24px;
	text-indent: -9000px;
	margin-top: 13px;
}

#options .right {
	float: right;
	line-height: 50px;
}

#options .right label {
	margin-left: 8px;
	color: #76674b;
}

#options .left {
	line-height: 50px;
	color: #47453d;
}

#options select, #options input {
	vertical-align: 1px;
	margin-left: 8px;
}

#sidebar {
	width: 180px;
	/*width: 220px;*/
	margin-top: 20px;
	float: left;
}

#results {
	width: 680px;
	float: right;
}
#results-table {
	float: left;
	width:75%;
	margin:0px 0px 0px 25px;
}
#textSearch input {
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border: 2px solid #dbd6cc;
	padding: 3px 5px 4px 25px;
	outline: none;
	color: #444;
	font-size: 14px;
	line-height: 16px;
	background: #fff url(img/search.gif) 8px 6px no-repeat;
}

#textSearch input:focus {
	color: #000;
	border-color: #a59f92;
}

table.transactions
{
	border: 1px solid black;
	 padding: 2px;
}

.exhibit-facet {
	margin-top: 20px;
}

div.exhibit-facet-header {
	padding: 0;
	margin-bottom: 5px;
}

div.exhibit-facet-body {
	border: 1px solid #ececec;
	background: #fff;
	padding: 5px;
	font-size: 13px;
}

div.exhibit-facet-body a {
	color: #777676;
	padding-bottom:3px;line-height:18px;
}

div.exhibit-resizableDivWidget-resizer {
	background: transparent url(./img/resizer.jpg) center no-repeat;
	height:25px;
}

div.exhibit-resizableDivWidget-resizer img {
	display: none;
}

span.exhibit-facet-header-title {
	color: #02578a;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom:1px solid #ececec;
	display:block;
	padding:0px 0px 6px 0px;
	margin:0px 0px 15px 0px;
}
span.exhibit-facet-header-title span{border-bottom:1px solid #0588cb;padding:0px 0px 5px 0px;display:inline;}
.exhibit-facet-value {border-bottom:1px dotted #b8b7b7;padding:0px 0px 3px 0px;}
ol.exhibit-tileView-body {
	list-style: none;
}

ol.exhibit-tileView-body li{border:1px solid #ececec;padding:1px;background:#fff;margin-bottom:25px;}

div.lens-header {
	background:url(./img/lenshdbg.jpg) repeat-x;
	height:44px;
}

div.lens-header h2 {
	font-size: 20px;
	line-height: 36px;
	padding: 5px 0 7px 10px;
	color: #fff;
}

div.lens-header a {
	float: right;
	background: url(./img/more-arrow.gif) 95% 50% no-repeat #1e8cc6;
	line-height:28px;
	color: #fff;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
	margin:7px 10px 0px 0px;
	padding:0px 15px;
	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
		
}

div.lens-header a:hover {
	text-decoration: underline;
}


div.iati-image 
{ 
	/*padding-top: 2px;*/
	float: right;
	width: 300px;
	background: #ffffff;
	margin-left: 10px;
}

div.iati-image img 
{
	/*display: table-column;*/
	float: right;
	border: 5px solid #fff;
}

div.lens-inner 
{
	background: #fff;
	padding: 8px;
	/*height: 700;*/
}

div.exhibit-lens {
	border: none;
}

div.lens-inner div.id {
	display: none;
}

span.reporting-org,
span.participating-org 
{
	text-align: left;
	display: block;
	margin-bottom: 10px;
	color: #777676;
	font-weight:bold;
	font-size:12px;
	background:url(./img/green-arr.gif) no-repeat left top;
	background-position:0 3px;
	padding:0px 0px 0px 10px;
}

a.exhibit-item, 
a.exhibit-item:link, 
a.exhibit-item:active, 
a.exhibit-item:visited {
	border: none;
	color: #01578a;
	font-weight:normal;
}

a.exhibit-item:hover {
	text-decoration: underline;
}

div.iati-key-info.country,
div.iati-aidtype,
div.funding {
	font-size: 12px;
	color: #0588cb;
	margin: 10px 0;
	font-style:italic;
	padding:5px;
	background:#f3f3ef;
	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
    	text-align: center;
		
}

div.funding span.funding-title
{
	font-style: normal;
	font-weight: bold;
}

div.iati-key-info.country span.field-title {
	margin-left: 10px;
}

div.lens-inner div.description {
	font-size: 14px;
	color: #494436;
	margin: 5px 0;
	text-align:left;
}

div.lens-inner div.partnerTable {
	font-size: 14px;
	color: #494436;
	margin: 5px 0;
}


div.funding {
	color: #494436;
}

div.funding span.field-title {
	margin-left: 10px;
	color: #b8ad98;
}

div.funding span.field-title:first-child {
	margin: 0;
}

div.exhibit-menu-popup {
	font-size: 13px;
}

div.exhibit-collectionView-footer a,
div.exhibit-collectionView-footer a:link {
	color: #494436;
	border: none;
	display: block;
	border-top: 1px solid #fff;
	padding-top: 10px;
}

div.exhibit-collectionView-footer {
	border-top: 1px solid #ccc;
}

.simileAjax-bubble-contentContainer .description {
	/*display:none;*/
}

div.exhibit-collectionView-header {
    height:  80px;/*40px;*/
}

div.exhibit-collectionView-header-sortControls {
	color: #494436;
	font-size: 15px;
	height: 23px;
}

span.exhibit-collectionView-header-groupControl,
span.exhibit-collectionView-header-groupControl a.exhibit-optionWidget {
	margin-left: 5px;
}

div.exhibit-viewPanel-viewSelection {
	width:200px;
	float:right;
	color: #b8ad98;
}

div.exhibit-viewPanel-viewSelection span {
	margin: 0 5px;
	color: #494436;
}


table.exhibit-tabularView-body {
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 16px;
	margin-top: 25px;
}

table.exhibit-tabularView-body th {
	border: 1px solid #CECECE;
	padding: 5px;
	background: url(./img/lenshdbg.jpg) repeat-x;
	color: #FFFFFF;
}

table.exhibit-tabularView-body th {
	background-color: #E5E2DC;
}

table.exhibit-tabularView-body tr:hover td {
	background-color: #e8d4e7;
}

table.exhibit-tabularView-body th.exhibit-tabularView-columnHeader-sorted img {
	margin-left: 5px;
	margin-bottom: 1px;
}

span.exhibit-legendWidget-entry {
	display: block;
	font-size: 14px;
}

span.exhibit-legendWidget-entry-title,
span.exhibit-collectionSummaryWidget-results {
	font-weight: normal;
	font-size: 14px;
	color: #494436;
}

div.exhibit-views-header {
	margin-top: 10px;
	height: 45px;
	color: #494436;
}

span.exhibit-collectionSummaryWidget-count {
	font-size: 1em;
	font-weight: bold;
}

div.exhibit-views-unplottableMessage {
	padding: 0;
	padding-top: 5px;
	margin-bottom: 20px;
	margin-top: 5px;
	text-align: left;
	/*border-top: 1px solid #ccc;*/
	font-size: 13px;
}

div.exhibit-toolboxWidget-popup {
	padding: 0;
	border: none;
	background: transparent;
	z-index: 50;
}

div.exhibit-menu-popup {
	background-color: #F4F3F2;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

div.exhibit-menu-popup a {
	color: #664e1a;
}

div.exhibit-menu-popup a.exhibit-menu-item div {
	padding:  3px 5px;
}

div.exhibit-menu-popup a.exhibit-menu-item div img {
	margin-right: 5px;
}

#TB_title {
	background-color: #E5E2DC;
}

#options {
	padding:5px;
}

a, 
a:link, 
a:active, 
a:visited {
	border: none;
	color: #0588cb;
	font-size:12px;
	text-decoration:none;

	padding:0px 10px 0px 10px;
}
#options a{	border-right:1px solid #cecece;}
.about-explorer p {
	margin-bottom:15px;
}
span.exhibit-viewPanel-viewSelection-selectedView {
    text-transform: uppercase;
    font-weight:    bold;
	border:none;
}
span.note{
	font-size:10px;
	font-style:italic;
}












